<!doctype html>
<html lang="hu">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Elfelejtett jelszó</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/floating-labels.css" rel="stylesheet">
  </head>
  <body>
    <form class="form-signin" method="POST" action="/forgot">
      <div class="text-center mb-5">
        <h1 class="h2 mb-5 font-weight-normal">ELFELEJTETT JELSZÓ</h1>
      </div>
      <div class="form-label-group">
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputEmail">Email cím</label>
      </div>
      <div class="form-label-group">
        <input type="password" name="oldPassword" id="inputOldPassword" class="form-control" placeholder="Old password" required>
        <label for="inputOldPassword">Régi jelszó</label>
      </div>
      <div class="form-label-group mt-5">
        <input type="password" name="newPassword" id="inputNewPassword" class="form-control" placeholder="New password again" required>
        <label for="inputNewPassword">Új jelszó</label>
      </div>
      <button class="mb-3 btn btn-lg btn-primary btn-block" type="submit">Új jelszó generálása</button>
    </form>
<% include footer %>