    <main role="main">
      <div class="jumbotron">
        <h1 class="mt-4 md-5 display-4">Hangzatos szöveg</h1>
        <a class="mt-5 btn btn-lg btn-outline-dark" href="/reserve/add" role="button">FOGLALÁS</a>
      </div>
    </main>