<!doctype html>
<html lang="hu">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Paintball</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/navbar-fixed-top.css" rel="stylesheet">
  </head>
    <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Kezdőlap</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reserve/add">Foglalás</a>
          </li>
        </ul>
        <a role="button" href="/login" class="btn btn-outline-primary mx-2">BELÉPÉS</a>
        <a role="button" href="/registration" class="btn btn-outline-success mx-2">REGISZTRÁCIÓ</a>
      </div>
    </nav>