<% if (loggedIn) { %>
  <% include logged_in_header %>
<% } else { %>
  <% include logged_out_header %>
<% } %>
    <main role="main container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-5 my-5">
                <table class="table-bordered table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Pálya neve</th>
                            <th>Szabadtéri vagy zárttéri ?</th>
                            <th>Művelet</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%  maps.forEach(function(map, index) { %>
                            <tr>
                                <th class="th-width" scope="row"><%= index+1 %></th>
                                <td class="align-middle"><%= map.name %></td>
                                <% if (map.outdoor) { %>
                                    <td class="align-middle">Szabadtéri</td>
                                <% } else { %>
                                    <td class="align-middle">Zárttéri</td>
                                <% } %>
                                <td class="align-middle">
                                    <a role="button" href="/maps/del/<%= map.id %>" class="btn btn-sm btn-danger">Törlés</a>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6 mt-5">
                        <div class="card">
                            <h6 class="card-header title">Új pálya hozzáadása</h6>
                            <div class="card-body">
                                <form class="form mt-2" method="post" action"/maps/add">
                                    <div class="form-label-group">
                                        <input type="text" id="mapName" class="form-control" placeholder="Pálya neve" required>
                                        <a role="button" href="/maps/add" class="btn btn-lg btn-primary mt-3">Hozzáadás</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
            <div class="col">
            </div>
        </div>
    </main>
<% include footer %>