<% if (loggedIn) { %>
  <% include logged_in_header %>
<% } else { %>
  <% include logged_out_header %>
<% } %>
    <main role="main container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-4 my-5">
                <table class="table-bordered table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Pálya neve</th>
                            <th>Művelet</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% maps.forEach(function(mapItem) { %>
                            <tr>
                                <th class="th-width" scope="row">
                                    <%= mapItem.id %>
                                </th>
                                <td class="align-middle">
                                    <%= mapItem.name %>
                                </td>
                                <td class="align-middle">
                                    <a role="button" href="/maps/del/<%= mapItem.id %>" class="btn btn-sm btn-danger">Törlés</a>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8 mt-5">
                        <div class="card">
                            <h6 class="card-header title">Új pálya hozzáadása</h6>
                            <div class="card-body">
                                <form class="form mt-2" method="post" action="/maps/add">
                                    <div class="form-label-group">
                                        <div>
                                            <input type="text" name="mapName" class="form-control" placeholder="Pálya neve" required>
                                        </div>
                                        <div>
                                            <input type="submit" value="Hozzáadás" class="btn btn-lg btn-primary mt-4">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
            <div class="col">
            </div>
        </div>
    </main>
<% include footer %>