    <main role="main container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-4 mt-5">
                <div class="alert alert-danger mt-5" role="alert">
                    <h4 class="alert-heading">A foglaláshoz fiók szükséges</h4>
                    <hr>
                    A foglaláshoz be kell <a href="login.html" class="alert-link">lépned</a>, amennyiben még nincs fiókod, úgy <a href="registration.html" class="alert-link">itt</a> tudsz regisztrálni.
                </div>
            </div>
            <div class="col">
            </div>
        </div>
    </main>