<% if (loggedIn) { %>
  <% include logged_in_header %>
<% } else { %>
  <% include logged_out_header %>
<% } %>
    <main role="main container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-4 mt-4">
                <% if (!reservationToModify) { %>
                    <% include mapChooser %>
                <% } %>
                <div class="jumbotron jumbotron-lowpadding">
                    <% if (!reservationToModify) { %>
                        <% include dateChooser %>
                    <% } %>
                    <div class="d-flex flex-column justify-content-around"> 
                        <% slots.forEach(function(slotItem, index) { %>
                            <div class="d-flex justify-content-around mt-4 md-2" >
                                <button type="button" class="slotTime btn btn-light disabled"><%= slotItem.startTime %>:00 - <%= slotItem.endTime %>:00</button>
                                <button type="button" class="slotStatus btn btn-custom-width<% if (slotItem.status == 'Szabad') { %> btn-success <% } else { %> btn-danger <% } %>" id="slot<%= index %>"><%= slotItem.status %></button>
                                <% if (slotItem.own) { %>
                                    <% include cancelButton %>
                                <% } %>
                            </div>
                        <% }) %>
                    </div>
                </div>
                <% if (reservationToModify) { %>
                    <% include modifyButton %>
                <% } else { %>
                     <% include reserveButton %>
                <% } %>
            </div>
            <div class="col">
            </div>
        </div>
    </main>
<% include footer %>