    <main role="main container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-4 mt-5">
                <div class="alert alert-success mt-5" role="alert">
                    <h4 class="alert-heading">Sikeres foglalás!</h4>
                    <hr>
                    A foglalás sikerült, megtekintheted a <a href="reservations.html" class="alert-link">foglalásaid</a> menüpontban. Itt lehetőséged van <span class="text-warning"><b>módosítani</b></span> a pályát vagy időpontot, esetleg <span class="text-danger"><b>törölheted</b></span> a foglalásod.
                </div>
            </div>
            <div class="col">
            </div>
        </div>
    </main>